.main {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.box {
  text-align: center;
  margin: 0px 5px;
  width: 400px;
  height: 480px;
  border: 2px solid gray;
  padding: 1em 1em;
}
.item-img {
  width: 300px;
  height: 330px;
}
.btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 3em;
}

.btn button {
  margin: 0px 5px;
  padding: 5px 1.5em;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  font-weight: bold;
}
.btn button:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: scale(1.09);
}

.이김 {
  border: 5px solid green;
}
.짐 {
  border: 5px solid red;
}
.무승부 {
  border: 5px solid black;
}